<div>
  <div class="form-container">
    <form [formGroup]="entregaForm" (ngSubmit)="guardar(entregaForm.value)">
      
      <h4 *ngIf="entrega?.id; else crearTpl">Modificar Entrega</h4>
      <ng-template #crearTpl>
        <h4>Registrar Nueva Entrega</h4>
      </ng-template>

      <div class="form-group">
        <label for="fecha">Fecha</label>
        <p-calendar
          id="fecha"
          formControlName="fecha"
          placeholder="dd/mm/aaaa"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
          [touchUI]="isMobile" 
          styleClass="w-full"
          appendTo="body"
        ></p-calendar>
      </div>

      <div class="form-group">
        <label for="zona">Zona</label>
        <p-dropdown
          id="zona"
          [options]="zonas"
          formControlName="zona"
          optionLabel="nombre"
          placeholder="Seleccione Zona"
          (onChange)="filtrarPorZona($event.value)"
          [showClear]="true"
          dataKey="id"
          styleClass="w-full"
          appendTo="body"
        ></p-dropdown>
      </div>

      <div class="form-group">
        <label for="repartidor">Repartidor</label>
        <p-dropdown
          id="repartidor"
          [options]="repartidoresFiltrados"
          formControlName="repartidor"
          optionLabel="apellidoNombre"
          placeholder="Seleccione Repartidor"
          [showClear]="true"
          [disabled]="!zonaFormValue"
          emptyMessage="No hay repartidores en esta zona"
          dataKey="id"
          styleClass="w-full"
          appendTo="body"
        ></p-dropdown>
        </div>

      <div class="form-group">
        <label for="pedidos">Pedidos</label>
        <p-multiSelect
          id="pedidos"
          [options]="pedidosFiltrados"
          formControlName="pedidos"
          optionLabel="nroPedido"
          placeholder="Seleccione los pedidos"
          display="chip"
          [disabled]="!zonaFormValue"
          emptyMessage="No hay pedidos pagos para esta zona"
          dataKey="nroPedido"
          styleClass="w-full"
          appendTo="body"
        ></p-multiSelect>
      </div>

      <div class="button-group">
        <button pButton label="Cancelar" class="p-button-outlined p-button-secondary" type="button" (click)="atras()"></button>
        <button pButton label="Guardar Entrega" severity="primary" type="submit"></button>
      </div>

    </form>
  </div>
</div>