<div>
  <div class="form-container">
    <form [formGroup]="zonaForm" (ngSubmit)="guardar(zonaForm.value)">
      
      <h4 *ngIf="zona.id; else crearTpl">Modificar Zona</h4>
      <ng-template #crearTpl>
        <h4>Registrar Nueva Zona</h4>
      </ng-template>

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input 
            pInputText 
            id="nombre" 
            type="text" 
            formControlName="nombre" 
            placeholder="Ej: Norte, Sur, Centro, etc" 
            class="w-full"
        />
      </div>

      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input 
            pInputText 
            id="descripcion" 
            type="text" 
            formControlName="descripcion" 
            placeholder="Ej: Zona Centro de la ciudad de Rosario" 
            class="w-full"
        />
      </div>

      <div class="button-group">
        <button pButton label="Cancelar" class="p-button-outlined p-button-secondary" type="button" (click)="back()"></button>
        <button pButton label="Guardar Zona" severity="primary" type="submit"></button>
      </div>

    </form>
  </div>
</div>