
<div *ngIf="pedidoSelectSnapShot != undefined || pedidoSelectSnapShot != null">
    <div *ngIf="pedidoSelectSnapShot.lineas != null" class="div">
    
        <p-card header="Productos"  class="card">
            <div *ngFor="let linea of pedidoSelectSnapShot.lineas" class="divdentrocard">
                <ng-template pTemplate="header">
                </ng-template>
                <p>
                    {{linea.cantidad}} de {{linea.producto.descripcion}}
                </p>
                
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                    </div>
                </ng-template>
            </div>
            <p-dropdown 
                    id="tipodeprod"
                    [options]="clientes" 
                    optionLabel="apellidoNombre" 
                    (onChange)="setearCliente($event.value)"
                    placeholder="Clientes" />
            <div class="card flex justify-content-center">
                        <label for="fecha">Fecha</label>
                        <p-calendar 
                            id="fecha"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="fechaSelected"
                            dateFormat="dd/mm/yy" />
            </div>
        </p-card>
            
    <p-button [disabled]="fechaSelected ==null || this.pedidoSelectSnapShot.cliente ==null" label="Guardar" (click)="pagar()" class="button" styleClass="w-full" />
    </div>

</div>
