<div *ngIf="pedidoSelectSnapShot && pedidoSelectSnapShot.lineas">
  <div class="form-container">
    
    <h4>Resumen del Pedido</h4>

    <div class="lista-resumen">
        <div *ngFor="let linea of pedidoSelectSnapShot.lineas" class="item-linea">
            <div class="nombre-prod">
                {{ linea.producto.descripcion }}
            </div>
            <div class="detalles-prod">
                <span><span class="label">Cant:</span> {{ linea.cantidad }}</span>
                <span class="separador">|</span>
                <span><span class="label">Precio:</span> {{ linea.producto.precio | currency }}</span>
                <span class="separador">|</span>
                <span class="subtotal-item">Subtotal: {{ linea.cantidad * linea.producto.precio | currency }}</span>
            </div>
        </div>
    </div>

    <div class="total-bloque">
        <hr class="separador-total">
        <div class="fila-total">
            <span class="label-total">Total a Pagar:</span>
            <span class="precio-final">{{ pedidoSelectSnapShot.total | currency }}</span>
        </div>
    </div>
    <div style="margin-top: 30px;"></div>

    <div class="form-group" *ngIf="isAdmin()">
        <label for="clienteSelect">Cliente</label>
        <p-dropdown 
            id="clienteSelect" 
            [options]="clientes" 
            optionLabel="apellidoNombre"
            (onChange)="setearCliente($event.value)" 
            placeholder="Seleccionar Cliente" 
            styleClass="w-full"
            appendTo="body">
        </p-dropdown>
    </div>

    <div class="form-group" *ngIf="!isAdmin()" disabled="pedidoSelectSnapShot.cliente">
        <label>Cliente</label>
        <div class="cliente-readonly">
            <span style="font-weight: bold;">
                {{ pedidoSelectSnapShot.cliente?.apellidoNombre}}
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="fecha">Fecha de Entrega</label>
        <p-calendar 
            id="fecha" 
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="fechaSelected" 
            placeholder="dd/mm/aaaa"
            dateFormat="dd/mm/yy" 
            showIcon="true" 
            [touchUI]="isMobile" 
            styleClass="w-full"
            appendTo="body">
        </p-calendar>
    </div>

    <div class="button-group">
        <button 
            pButton 
            label="Volver a Home" 
            class="p-button-outlined p-button-secondary"
            routerLink="/home">
        </button>

        <button 
            pButton 
            label="Confirmar e Ir a Pagar" 
            severity="success" 
            (click)="pagar()"
            [disabled]="fechaSelected == null || !pedidoSelectSnapShot.cliente || !pedidoSelectSnapShot.lineas || pedidoSelectSnapShot.lineas.length == 0">
        </button>
    </div>

  </div>
</div>