<div *ngIf="pedidoSelectSnapShot != undefined || pedidoSelectSnapShot != null">
    <div *ngIf="pedidoSelectSnapShot.lineas != null" class="div">

        <p-card header="Resumen del Pedido" class="card">
            
            <div class="lista-resumen">
                <div *ngFor="let linea of pedidoSelectSnapShot.lineas" class="item-linea">
                    <div class="nombre-prod">
                        {{ linea.producto.descripcion }}
                    </div>
                    <div class="detalles-prod">
                        <span><span class="label">Cant:</span> {{ linea.cantidad }}</span>
                        <span class="separador">|</span>
                        <span><span class="label">Precio:</span> {{ linea.producto.precio | currency }}</span>
                        <span class="separador">|</span>
                        <span class="subtotal-item">Subtotal: {{ linea.cantidad * linea.producto.precio | currency }}</span>
                    </div>
                </div>
            </div>

            <div class="total-bloque">
                <hr>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span style="font-size: 1.1rem;">Total a Pagar:</span>
                    <span class="precio-final">{{ pedidoSelectSnapShot.total | currency }}</span>
                </div>
            </div>

            <div style="margin-top: 20px;">
                <p-dropdown id="tipodeprod" [options]="clientes" optionLabel="apellidoNombre"
                    (onChange)="setearCliente($event.value)" placeholder="Seleccionar Cliente" [style]="{'width':'100%'}" />
                
                <div style="margin-top: 10px;">
                    <p-calendar placeholder="Fecha de entrega" id="fecha" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="fechaSelected" dateFormat="dd/mm/yy" showIcon="true" [style]="{'width':'100%'}" />
                </div>
            </div>

        </p-card>

        <p-button [disabled]="fechaSelected ==null 
    || this.pedidoSelectSnapShot.cliente ==null 
    || this.pedidoSelectSnapShot.lineas == null
    || this.pedidoSelectSnapShot.lineas.length == 0" label="Guardar" (click)="pagar()" class="button"
            styleClass="w-full" />
    </div>

</div>