<p-card>
  <p-button *ngIf="isAutenticated" (click)="logout()">Cerrar Sesion</p-button>
  <!-- LOGIN -->
  <form *ngIf="!isRegister && !isAutenticated" [formGroup]="loginForm">
    <div>
          <input style="margin: 10px;" formControlName="username" placeholder="Usuario" />
          <input style="margin: 10px;" type="password" formControlName="password" placeholder="Contraseña" />
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center;">
          <div style="margin: 10px;">
            <p-button label="Iniciar sesión"
              (click)="login()"
              [disabled]="loginForm.invalid">
            </p-button>
          </div>
          <div style="margin: 10px;">
            <p-button label="Crear cuenta"
              severity="secondary"
              (click)="isRegister = true">
            </p-button>
          </div>          
    </div>
    
  </form>

  <!-- REGISTER -->
  <form *ngIf="isRegister && !isAutenticated" [formGroup]="registerForm">
    <div  style="display: flex; flex-direction: column; justify-content: center;">
          <input style="margin: 10px;" formControlName="username" placeholder="Usuario" />
          <input style="margin: 10px;" type="password" formControlName="password" placeholder="Contraseña" />
          <input style="margin: 10px;" formControlName="cuit" placeholder="CUIT" />
          <input  style="margin: 10px;"formControlName="apellidoNombre" placeholder="Apellido y Nombre" />
          <input  style="margin: 10px;"formControlName="telefono" placeholder="Teléfono" />
          <input  style="margin: 10px;"formControlName="email" placeholder="Email" />
          <input  style="margin: 10px;"formControlName="domicilio" placeholder="Domicilio" />
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; margin: 10px;">
      <div style="margin: 10px;">
          <p-button label="Registrarse"
            (click)="register()"
            [disabled]="registerForm.invalid">
          </p-button>
      </div>
      <div style="margin: 10px;">
          <p-button label="Volver"
            severity="secondary"
            (click)="isRegister = false">
          </p-button>
      </div>
          
    </div>
  </form>

</p-card>
