<p-card>
    <form *ngIf="!isAutenticated" [formGroup]="loginForm">
        <div>
          <label for="username">Usuario:</label>
          <input  id="username" formControlName="username" type="text" placeholder="Ingresa tu usuario" />
          <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
            <small class="error">El usuario es obligatorio.</small>
          </div>
        </div>
      
        <div>
          <label for="password">Contraseña:</label>
          <input  id="password" formControlName="password" type="password" placeholder="Ingresa tu contraseña" />
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <small class="error">La contraseña es obligatoria.</small>
          </div>
        </div>
      
        <p-button (click)="onSubmit('inicio')" class="margin" type="submit" label="Iniciar sesión" severity="success" [disabled]="loginForm.invalid"></p-button>
        <p-button (click)="onSubmit('registrar')" type="submit">Registrar</p-button>

      </form>
      <!-- <form *ngIf="register" [formGroup]="loginForm" (ngSubmit)="registerSubmit()">
        <div>
          <label for="username">Usuario:</label>
          <input id="username" formControlName="username" type="text" placeholder="Ingresa tu usuario" />
          <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
            <small class="error">El usuario es obligatorio.</small>
          </div>
        </div>
      
        <div>
          <label for="password">Contraseña:</label>
          <input id="password" formControlName="password" type="password" placeholder="Ingresa tu contraseña" />
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <small class="error">La contraseña es obligatoria.</small>
          </div>
        </div>
      
        <p-button label="Registrar" severity="success" type="submit" [disabled]="loginForm.invalid"></p-button>
      </form> -->
      
      <div style="display: flex; justify-content: center;">
        <p-button *ngIf="isAutenticated" (click)="logout()" label="Cerrar sesion" severity="success"></p-button>
      </div>

</p-card>
