<div class="container">
  <div class="col" *ngIf="!crearMode" style="display: flex; justify-content: center; margin-bottom: 20px;">
    <button pButton icon="pi pi-plus" routerLink="/home" label="Crear Pedido"></button>
  </div>

  <div class="col">
    <p-table *ngIf="!crearMode" [value]="pedidos" [tableStyle]="{ 'min-width': '50rem' }" class="table-striped">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="cliente.apellidoNombre">Cliente <p-sortIcon field="cliente.apellidoNombre"></p-sortIcon></th>
          <th pSortableColumn="entrega.id">Entrega <p-sortIcon field="entrega.id"></p-sortIcon></th>
          <th pSortableColumn="fecha">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
          <th pSortableColumn="pago.id">Pago <p-sortIcon field="pago.id"></p-sortIcon></th>
          <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
          <th>Detalles</th>
          <th style="text-align: center;">Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-pedido>
        <tr>
          <td>{{ pedido.cliente.apellidoNombre }}</td>
          <td>{{ pedido.entrega ? pedido.entrega.id : '—' }}</td>
          <td>{{ pedido.fecha | date: 'dd/MM/yyyy' }}</td>
          <td>{{ pedido.pago ? pedido.pago.id : '—' }}</td>
          <td>{{ pedido.total | currency }}</td>
          <td style="text-align: center;">
            <p-button icon="pi pi-eye" severity="info" rounded (onClick)="showProductDetails(pedido)"></p-button>
          </td>
          <td style="text-align: center;">
            <div style="display: flex; justify-content: center; gap: 10px;">
              <p-button [disabled]="pedido.pago" icon="pi pi-pencil" rounded outlined severity="success"
                (onClick)="editProduct(pedido)"></p-button>
              <p-button [disabled]="pedido.entrega" icon="pi pi-trash" rounded outlined severity="danger"
                (onClick)="deleteProduct(pedido)"></p-button>
              <p-button [disabled]="pedido.pago" icon="pi pi-dollar" rounded outlined severity="help"
                (onClick)="irAPago(pedido)"></p-button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <app-crear-pedido (editCrear)="changeEditCreate()" [pedido]="pedidoSelected" *ngIf="crearMode"></app-crear-pedido>
</div>