<div class="container">
  <nav class="navbar">
    <a href="#" class="navbar-brand">FAST</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/clientes" class="nav-link">Clientes</a>
      </li>
      <li class="nav-item">
        <a href="/crearclientes" class="nav-link">Crear cliente</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Buscar cliente</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Actualizar cliente</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Borrar cliente</a>
      </li>
    </ul>
  </nav>
</div>
<footer>
  <div class="container">
      <div class="row">
          <div class="col">
              </div>
          <div class="col">
              </div>
          <div class="col">
              </div>
      </div>
  </div>
  <p>&copy; 2024 Fast. Todos los derechos reservados.</p>
</footer>
<router-outlet/>
