<div style="display: flex; justify-content: center;">
  <p-card>
    <div>
      <form style="display: flex;flex-direction: column; justify-content: center;" [formGroup]="pagoForm"
        (ngSubmit)="guardar(pagoForm.value)">
        <h4 *ngIf="pago">Modificar</h4>
        <h4 *ngIf="!pago">Crear</h4>

        <label for="fecha">Fecha</label>
        <input pInputText id="fecha" type="text" formControlName="fecha" [disabled]="true">

        <label for="tipoPago">Tipo Pago</label>
        <p-dropdown id="tipoPago" [options]="tiposPago" formControlName="tipoPago" optionLabel="nombre"
          placeholder="TipoPago" />

        <label for="pedido">Pedido</label>
        <p-dropdown id="pedido" [options]="pedidosSinPago" formControlName="pedido" optionLabel="nroPedido"
          placeholder="Pedido" />

        <div style="display: flex; justify-content: center;">
            <button style="margin: 10px;" pButton type="submit" label="Guardar"></button>
            <button pButton style="margin: 10px;" (click)="back()">Volver</button>
        </div>
      </form>
    </div>
  </p-card>
</div>