<div style="display: flex; justify-content: center;">
  <p-card [style]="{'width': '100%', 'max-width': '600px'}"> <div>
        <form
        style="display: flex; flex-direction: column; justify-content: center;"
        [formGroup]="pagoForm"
        (ngSubmit)="guardar(pagoForm.value)"
      >
        <h4 *ngIf="pago?.id; else crearTpl">Modificar</h4>
        <ng-template #crearTpl>
          <h4>Crear</h4>
        </ng-template>

        <label for="fecha">Fecha</label>
        <p-calendar
          id="fecha"
          formControlName="fecha"
          placeholder="Seleccione una fecha"
          dateFormat="dd/mm/yy"
          showIcon="true"
        ></p-calendar>

        <label for="tipoPago">Tipo Pago</label>
        <p-dropdown
          id="tipoPago"
          [options]="tiposPago"
          formControlName="tipoPago"
          optionLabel="nombre"
          placeholder="TipoPago"
          dataKey="id"
        ></p-dropdown>

        <label for="pedido">Pedido</label>
        <p-dropdown
          id="pedido"
          [options]="pedidosDisponibles"
          formControlName="pedido"
          optionLabel="nroPedido"
          placeholder="Pedido"
          dataKey="nroPedido"
        ></p-dropdown>

        <div *ngIf="pedidoSeleccionado" style="margin-top: 10px;">
            
            <p-card styleClass="resumen-card" >
                
                <div class="lista-resumen">
                    <div *ngFor="let linea of pedidoSeleccionado.lineas" class="item-linea">
                        <div class="nombre-prod">
                            {{ linea.producto?.descripcion }}
                        </div>
                        <div class="detalles-prod">
                            <span><span class="label">Cant:</span> {{ linea.cantidad }}</span>
                            <span >|</span>
                            <span><span class="label">Precio:</span> {{ linea.producto?.precio | currency }}</span>
                            <span>|</span>
                            <span class="subtotal-item">Subtotal: {{ (linea.subtotal || (linea.cantidad * linea.producto?.precio!)) | currency }}</span>
                        </div>
                    </div>
                </div>

                <div class="total-bloque">
                    <hr>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <span style="font-size: 1.1rem; font-weight: bold;">Total a Pagar:</span>
                        <span class="precio-final">{{ pedidoSeleccionado.total | currency }}</span>
                    </div>
                </div>
            </p-card>

        </div>
        <div style="display: flex; justify-content: center;">
          <button style="margin: 10px;" pButton type="submit" label="Guardar"></button>
          <button pButton type="button" style="margin: 10px;" (click)="back()" label="Volver"></button>
        </div>
      </form>
    </div>
  </p-card>
</div>