<div style="display: flex; justify-content: center;">
  <p-card>
    <div>
      <form style="display: flex;flex-direction: column; justify-content: center;" [formGroup]="pagoForm"
        (ngSubmit)="guardar(pagoForm.value)">
        <h4 *ngIf="pago != null || pago != undefined ">Modificar</h4>
        <h4 *ngIf="pago == null || pago == undefined ">Crear</h4>
        <label for="fecha">Fecha</label>
        <input pInputText id="fecha" type="text" formControlName="fecha" [disabled]="true">
        <label for="tipoPago">Tipo Pago</label>
        <p-dropdown id="tipoPago" [options]="tiposPago" formControlName="tipoPago" optionLabel="nombre"
          placeholder="TipoPago" />
        <button style="margin-top: 10px;" pButton type="submit" class="btn btn-primary">Guardar</button>

      </form>
    </div>

  </p-card>

</div>