<div class="container">
  <div class="form-container">
    <h2 *ngIf="!cliente">Crear Cliente</h2>
    <h2 *ngIf="cliente">Modificar Cliente</h2>
    <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="apellidoNombre">Apellido y Nombre:</label>
        <input type="text" class="form-control" id="apellidoNombre" name="apellidoNombre" formControlName="apellidoNombre">
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="tel" class="form-control" id="telefono" name="telefono" formControlName="telefono">
      </div>
      <div class="form-group">
        <label for="cuit">CUIT:</label>
        <input type="text" class="form-control" id="cuit" name="cuit" formControlName="cuit">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="domicilio">Domicilio:</label>
        <input type="text" class="form-control" id="domicilio" name="domicilio" formControlName="domicilio">
      </div>
      <div class="form-group">
        <label for="zona">Zona:</label>
        <input type="text" class="form-control" id="zona" name="zona" formControlName="zona">
      </div>
      <button *ngIf="!cliente" type="submit" class="btn btn-primary">Crear</button>
      <button *ngIf="cliente" type="submit" class="btn btn-primary">Modificar</button>

    </form>

  </div>
</div>
