.icon-container {
    cursor: pointer;
    transition: color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container:hover {
    color: #007bff; 
}

.ml-3 {
    margin-left: 1rem !important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

@media (max-width: 768px) {
    .navbar-collapse {
        margin-top: 10px;
        text-align: right; 
    }
}