<div class="container">
  <nav class="navbar">
    <a routerLink="/home" class="navbar-brand">FAST</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/clientes" class="nav-link">Clientes</a>
      </li>
      <li class="nav-item">
        <a routerLink="/repartidores" class="nav-link">Repartidores</a>
      </li>
      <li class="nav-item">
        <a routerLink="/crearTipoProducto" class="nav-link">Tipos de productos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/productos" class="nav-link">Productos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/entregas" class="nav-link">Entregas</a>
      </li>
      <li class="nav-item">
        <a routerLink="/tiposDePago" class="nav-link">Tipo de Pagos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/pedidos" class="nav-link">Pedidos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/carrito">
          <p-button icon="pi pi-shopping-cart" [rounded]="true" [outlined]="true"></p-button>
        </a>
      </li>
    </ul>
  </nav>
  
</div>
<div>
  <!-- <app-home-component></app-home-component> -->
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <p>&copy; 2024 Fast. Todos los derechos reservados.</p>
</footer>
<router-outlet />