<div>
  <div class="form-container">
    <form [formGroup]="prodForm" (ngSubmit)="guardar(prodForm.value)">
      
      <h4 *ngIf="producto?.codigo; else crearTpl">Modificar Producto</h4>
      <ng-template #crearTpl>
        <h4>Registrar Nuevo Producto</h4>
      </ng-template>

      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input 
            pInputText 
            id="descripcion" 
            type="text" 
            formControlName="descripcion" 
            class="w-full"
        />
      </div>

      <div class="form-group">
        <label for="stock">Stock</label>
        <input 
            pInputText 
            id="stock" 
            type="number" 
            formControlName="stock" 
            placeholder="0" 
            min="0"
            class="w-full"
        />
      </div>

      <div class="form-group">
        <label for="precio">Precio</label>
        <input 
            pInputText 
            id="precio" 
            type="number" 
            formControlName="precio" 
            placeholder="0" 
            min="0"
            class="w-full"
        />
      </div>

      <div class="form-group">
        <label for="tipodeprod">Tipo de Producto</label>
        <p-dropdown
          id="tipodeprod"
          [options]="tiposProducto"
          formControlName="tipoProducto"
          optionLabel="nombre"
          placeholder="Seleccione un tipo"
          [showClear]="true"
          styleClass="w-full"
          appendTo="body"
        ></p-dropdown>
      </div>

      <div class="button-group">
        <button pButton label="Cancelar" class="p-button-outlined p-button-secondary" type="button" (click)="back()"></button>
        <button pButton label="Guardar Producto" severity="primary" type="submit"></button>
      </div>

    </form>
  </div>
</div>