<div class="main-container">
  <p-card>
    <div class="form-container">
      <form [formGroup]="clienteForm" (ngSubmit)="guardar(clienteForm.value)">
        
        <h4 *ngIf="cliente?.id; else crearTpl">Modificar Cliente</h4>
        <ng-template #crearTpl>
          <h4>Crear Cliente</h4>
        </ng-template>

        <div class="form-group">
          <label for="apellidoNombre">Nombre y Apellido</label>
          <input pInputText id="apellidoNombre" type="text" formControlName="apellidoNombre" />
        </div>

        <div class="form-group">
          <label for="cuit">Cuit</label>
          <input pInputText id="cuit" type="text" formControlName="cuit" />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input pInputText id="email" type="text" formControlName="email" />
        </div>

        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input pInputText id="telefono" type="text" formControlName="telefono" />
        </div>

        <div class="form-group">
          <label for="domicilio">Domicilio</label>
          <input pInputText id="domicilio" type="text" formControlName="domicilio" />
        </div>

        <div class="form-group">
          <label for="zona">Zona</label>
          <p-dropdown
            id="zona"
            [options]="zonas"
            formControlName="zona"
            optionLabel="nombre"
            placeholder="Seleccione Zona"
            [showClear]="true"
            styleClass="w-full"
          ></p-dropdown>
        </div>

        <div class="button-group">
          <button pButton label="Guardar" severity="success" type="submit"></button>
          <button pButton label="Volver" severity="contrast" (click)="back()"></button>
        </div>

      </form>
    </div>
  </p-card>
</div>