<div>
  <div class="form-container">
    <form [formGroup]="repartidorForm" (ngSubmit)="guardar(repartidorForm.value)">
      
      <h4 *ngIf="repartidor?.id; else crearTpl">Modificar Repartidor</h4>
      <ng-template #crearTpl>
        <h4>Registrar Nuevo Repartidor</h4>
      </ng-template>

      <div class="form-group">
        <label for="cuit">CUIT</label>
        <input 
            pInputText 
            id="cuit" 
            type="text" 
            formControlName="cuit"
            class="w-full"
        />
      </div>

      <div class="form-group">
        <label for="apellidoNombre">Apellido y Nombre</label>
        <input 
            pInputText 
            id="apellidoNombre" 
            type="text" 
            formControlName="apellidoNombre" 
            placeholder="Ej: Lionel Messi" 
            class="w-full"
        />
      </div>

      <div class="form-group">
        <label for="vehiculo">Vehículo</label>
        <input 
            pInputText 
            id="vehiculo" 
            type="text" 
            formControlName="vehiculo" 
            placeholder="Ej: Ford Ka 2011" 
            class="w-full"
        />
      </div>

      <div class="form-group">
        <label for="zona">Zona</label>
        <p-dropdown
          id="zona"
          [options]="zonas"
          formControlName="zona"
          optionLabel="nombre"
          placeholder="Seleccione una zona"
          [showClear]="true"
          styleClass="w-full"
          appendTo="body"
        ></p-dropdown>
      </div>

      <div class="button-group">
        <button pButton label="Cancelar" class="p-button-outlined p-button-secondary" type="button" (click)="back()"></button>
        <button pButton label="Guardar Repartidor" severity="primary" type="submit"></button>
      </div>

    </form>
  </div>
</div>