
<div class="container">
  <div class="tabla-centrada">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Apellido y Nombre</th>
          <th>Teléfono</th>
          <th>CUIT</th>
          <th>Email</th>
          <th>Domicilio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.apellidoNombre }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.cuit }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.domicilio }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
