
<div *ngIf="!editCreateMode" class="container">
  <div class="tabla-centrada">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Apellido y Nombre</th>
          <th>Teléfono</th>
          <th>CUIT</th>
          <th>Email</th>
          <th>Domicilio</th>
          <th>Editar/Borrar</th>
          <th>Disponible</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.apellidoNombre }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.cuit }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.domicilio }}</td>
          <td>{{ cliente.disponible}}</td>
          <td class="iconos">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit" (click)="navegarEdit(cliente)"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete" (click)="borrarCliente(cliente)"></mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="editCreateMode">
  <app-crear-clientes [cliente]="clienteSelected"></app-crear-clientes>
</div>
