<div class="container">
    
    <div *ngIf="!crearEditarMode" class="top-actions">
        <p-button label="Nuevo" icon="pi pi-plus" (onClick)="new()"></p-button>
    </div>

    <p-table *ngIf="!crearEditarMode" [value]="clientes" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Apellido y Nombre</th>
                <th>Teléfono</th>
                <th>CUIT</th>
                <th>Email</th>
                <th>Domicilio</th>
                <th>Disponible</th>
                <th>Zona</th>
                <th class="col-actions">Editar/Borrar</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-cliente>
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.apellidoNombre }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.cuit }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.domicilio }}</td>
                <td>{{ cliente.disponible}}</td>
                <td>{{ cliente.zona?.nombre }}</td>
                
                <td class="col-actions">
                    <div class="action-buttons">
                        <p-button 
                            [disabled]="!cliente.disponible" 
                            icon="pi pi-pencil" 
                            [rounded]="true" 
                            [outlined]="true" 
                            severity="success"
                            (onClick)="editCliente(cliente)">
                        </p-button>
                        
                        <p-button 
                            [disabled]="!cliente.disponible" 
                            icon="pi pi-trash" 
                            severity="danger" 
                            [rounded]="true" 
                            [outlined]="true"
                            (onClick)="deleteCliente(cliente)">
                        </p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <div *ngIf="crearEditarMode" class="form-wrapper">
        <app-crear-clientes (editCrear)="changeEditCreate()" [cliente]="clienteSelected"></app-crear-clientes>
    </div>
</div>