<div style="display: flex; justify-content: center;">
  <p-card>
    <div>
      <form
        style="display: flex; flex-direction: column; justify-content: center;"
        [formGroup]="tipoProdForm"
        (ngSubmit)="guardar(tipoProdForm.value)"
      >
       
        <h4 *ngIf="tipoProd?.id; else crearTpl">Modificar</h4>
        <ng-template #crearTpl>
          <h4>Crear</h4>
        </ng-template>

        <label for="nombre">Nombre</label>
        <input pInputText id="nombre" type="text" formControlName="nombre" />

        <div style="display: flex; justify-content: center;">
          <button style="margin: 10px;" pButton type="submit" label="Guardar"></button>
          <button style="margin: 10px;" pButton type="button" (click)="back()" label="Volver"></button>
        </div>
      </form>
    </div>
  </p-card>
</div>
