<div class="container-fluid">

    <div class="filters-bar">
        <input
          pInputText
          type="text"
          placeholder="Buscar por nombre"
          [(ngModel)]="nombreString"
          (change)="buscar()"
          class="filter-input-text">

        <input
          pInputText
          type="number"
          placeholder="Precio Mínimo"
          [(ngModel)]="precioMinimo"
          min="0"
          (change)="buscar()"
          class="filter-input-number">

        <input
          pInputText
          type="number"
          placeholder="Precio Máximo"
          [(ngModel)]="precioMaximo"
          min="0"
          (change)="buscar()"
          class="filter-input-number">
  
        <p-dropdown
          id="tipodeprod"
          [options]="tiposProducto"
          optionLabel="nombre"
          [(ngModel)]="tipoProductoSelect"
          (onChange)="buscar()"
          [showClear]="true"
          placeholder="Tipo Producto"
          styleClass="dropdown-tipo">
        </p-dropdown>
    </div>

    <div class="product-grid">
        
        <div *ngFor="let product of productos" class="product-card-wrapper">
            <p-card styleClass="custom-p-card">

                <h4 class="prod-title">{{ product.descripcion }}</h4>
                <p class="prod-price">{{ product.precio | currency }}</p>
                <p class="prod-stock">Stock: {{ product.stock }}</p>

                    <ng-container *ngIf="getCantidadEnPedido(product) > 0; else botonComprar">
                        
                        <p class="cant-display">
                            Cantidad: {{ getCantidadEnPedido(product) }}
                        </p>
                        
                        <div class="action-buttons">
                            <button (click)="restar(product)" pButton icon="pi pi-minus" class="p-button-warning p-button-rounded"></button>
                            
                            <button 
                                (click)="agregar(product)" 
                                pButton 
                                icon="pi pi-plus" 
                                class="p-button-success p-button-rounded"
                                [disabled]="getCantidadEnPedido(product) >= product.stock">
                            </button>

                            <button (click)="eliminar(product)" pButton icon="pi pi-trash" class="p-button-danger p-button-rounded"></button>
                        </div>

                    </ng-container>

                <ng-template #botonComprar>
                    <div class="comprar-wrapper">
                        <p-button (click)="agregar(product)" label="Comprar" styleClass="w-full" />
                    </div>
                </ng-template>

            </p-card>
        </div>

    </div>

    <div *ngIf="!isMobile" class="cart-button-desktop">
        <button pButton label="Ir al Carrito" icon="pi pi-shopping-cart" class="p-button-success p-button-lg" routerLink="/carrito" [disabled]="pedidoVacio"> </button>
    </div>

    <div *ngIf="isMobile" class="cart-fab-container">
        <button pButton icon="pi pi-shopping-cart" class="p-button-success p-button-rounded p-button-lg shadow-4" routerLink="/carrito" [disabled]="pedidoVacio"></button>
    </div>

</div>